<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Admin Panel</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../css/font-awesome.css">
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!-- HEADER -->
    <div id="header-admin">
        <div class="container">
            <div class="row">

                <!-- LOGO -->
                <div class="col-md-2">
                    <a href="post.html">
                        <img class="logo" src="images/news.jpg" alt="Admin Logo">
                    </a>
                </div>
                <!-- /LOGO -->

                <!-- LOGOUT -->
                <div class="col-md-offset-9 col-md-1">
                    <a href="login.html" class="admin-logout">Logout</a>
                </div>
                <!-- /LOGOUT -->

            </div>
        </div>
    </div>
    <!-- /HEADER -->

    <!-- MENU BAR -->
    <div id="admin-menubar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="admin-menu">
                        <li><a href="post.html">Post</a></li>
                        <li><a href="category.html">Category</a></li>
                        <li><a href="users.html">Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /MENU BAR -->

    <%- body%>
<!-- Footer -->
      <div id="footer">
        <div class="container">
            <p>© 2025 Admin Panel</p>
        </div>
    </div>

</body>
</html>
